<!DOCTYPE html>
<html ng-app="udApp">
<head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" />
    @Scripts.Render("~/bundles/modernizr")
    <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="~/Scripts/UserDepartments.js"></script>
    <script src="~/Scripts/MainAngularController.js"></script>
</head>

<body ng-controller="PageController">
   
    <div >

        <div style="width:100%; height: 30px; text-align:center; font-size:16px; margin-bottom:20px;">
            <span ng-click="ViewMode='Users'"  style="cursor:pointer;" ng-class="{'Bold': ViewMode=='Users'}">Пользователи</span>&nbsp;&nbsp;&nbsp;
            <span ng-click="ViewMode='Departments'" ng-class="{'Bold': ViewMode=='Departments'}" style="cursor:pointer;">Департаметы</span>
        </div>

            @RenderBody()

       
        </div>
    @RenderSection("scripts", required: false)
</body>
</html>
